.price {
  position: relative;
  color: $black-color;
  width: 90%;
  margin: 3rem 5%;

  &__title {
    color: $white-color;
    margin: 5rem 0 0rem 5%;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 3rem;
    background-color: $black-color;
    max-width: 50%;
    border-radius: 10px;
  }
}

.process {
  &__title {
    color: $white-color;
    margin: 5rem 0 3rem 5%;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 3rem;
    background-color: $black-color;
    max-width: 25%;
    border-radius: 10px;
    font-family: $font-open !important;
    font-weight: 700 !important;
  }
  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }

  &__container {
    float: left;
    padding: 1rem;
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-open;
    font-weight: 700;
  }

  h2 {
    font-size: 2rem;
  }

  ul,
  ol {
    margin: 1rem 0;
    height: 30rem;
  }

  &__chart {
    color: #000;
    counter-reset: item;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 0 1rem;
    padding: 0;
    > li,
    > li > div {
      position: relative;

      &:before {
        color: rgba(0, 0, 0, 0.75);
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
      }
    }

    > li {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.25) 0%,
        transparent 25%
      );
      background-color: #fff;
      counter-increment: item;
      flex-basis: 0;
      flex-grow: 1;
      margin: 1rem 1rem 1rem -1rem;
      min-width: 11.25rem;
      padding: 1rem 1rem 1rem 2rem;

      &:before {
        content: "Bước";
        display: inline-block;
        font-weight: 300;
        left: 1rem;
        letter-spacing: 0.1rem;
        position: absolute;
        top: 1rem;
        transform: rotate(90deg);
        transform-origin: 25% 50%;
        padding-left: 0.5rem;
        color: $white-color;
      }

      &:after {
        border-bottom: 1rem solid transparent;
        border-left: 1rem solid #fff;
        border-right: 0 solid transparent;
        border-top: 1rem solid transparent;
        content: "";
        height: 100%;
        position: absolute;
        right: -1rem;
        top: 0;
        width: 0;
        z-index: 1;
      }

      & > div {
        padding: 0 0 0 1rem;

        p {
          font-size: 1.4rem;
          font-family: $font-bai;
          line-height: 1.5;
        }
      }

      & > div:before {
        content: counter(item, decimal-leading-zero);
        font-size: 3rem;
        font-weight: 500;
        line-height: 1;
        color: $white-color;
      }

      // nth-type color theming
      &.primary {
        /* nth-of-type(6n+1) */
        background-color: $tan-color;
        color: $white-color;

        &:after {
          border-left-color: $tan-color;
        }
      }

      &.secondary {
        /* nth-of-type(6n+2) */
        background-color: #153448;
        color: $white-color;

        &:after {
          border-left-color: #153448;
        }
      }

      &.tertiary {
        /* nth-of-type(6n+3) */
        background-color: #3c6b6f;
        color: $white-color;

        &:after {
          border-left-color: #3c6b6f;
        }
      }

      &.quaternary {
        /* nth-of-type(6n+4) */
        background-color: #747254;
        color: $white-color;

        &:after {
          border-left-color: #747254;
        }
      }

      &.quinary {
        /* nth-of-type(6n+5) */
        background-color: #948979;
        color: $white-color;

        &:after {
          border-left-color: #948974;
        }
      }

      &.senary {
        /* nth-of-type(6n+5) */
        background-color: $green-color;
        color: $white-color;

        &:after {
          border-left-color: $green-color;
        }
      }
    }

    @media only screen and (max-width: 768px) {
      margin: 1rem 0 0 0;
      padding: 1rem 0 0 0;

      > li {
        background: linear-gradient(rgba(0, 0, 0, 0.25) 0%, transparent 25%);
        flex-basis: inherit;
        margin: -1rem 0 1rem 0;
        min-width: inherit;
        padding: 1.5rem 1rem 0 3rem;

        &:before {
          left: 1rem;
          top: 2rem;
        }

        &:after {
          border-bottom: 0 solid transparent;
          border-left: 1rem solid transparent !important;
          border-right: 1rem solid transparent;
          border-top: 1rem solid #fff;
          bottom: -1rem;
          height: 0;
          left: 0;
          right: inherit;
          top: inherit;
          width: 100%;
        }
      }
    }
  }
}
