$black-color: #0b1f24;
$white-color: #ffffff;
$green-color: #0a6847;
$tan-color: #d2b48c;
$font-open: "Open Sans", sans-serif;
$font-bai: "Bai Jamjuree", sans-serif;
$font-play: "Playfair Display", serif;

html {
  box-sizing: border-box;
  font-size: 10px;

  body {
    font-family: $font-open;
    color: $white-color;
    a,
    button {
      cursor: pointer;
    }

    .btn {
      &__menu {
        display: none;

        @media screen and (max-width: 950px) {
          display: block;
          color: $white-color;
        }
      }
    }

    .top {
      display: flex;
      justify-content: space-between;
      padding: 0rem 5%;
      background-color: $tan-color;
      color: $black-color;
      margin: auto 0;

      &__social {
        display: flex;
        align-items: center;
        text-align: center;
        padding: auto 0;

        a {
          color: $black-color;
          font-size: 2rem;
          margin-right: 2rem;
          align-items: center;

          i {
            align-items: center;
          }
        }

        p {
          font-weight: 500;
          font-family: $font-bai;
          font-size: 2rem;
          margin: 1.5rem;
        }

        span {
          color: $black-color;
          font-size: 1.5rem;

          a {
            text-decoration: none;
            color: $black-color;
          }
        }
      }

      &__contact {
        display: flex;
        gap: 3rem;
        align-items: center;
        font-family: $font-bai;

        span {
          display: flex;
          gap: 0.5rem;
          i {
            font-size: 2rem;
          }
          a {
            font-size: 2rem;
            text-decoration: none;
            color: $black-color;
          }

          :hover {
            text-decoration: underline;
            transition: all 0.4;
          }
        }
      }

      @media screen and (max-width: 960px) {
        display: none;
      }
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0rem 5%;
      background-color: $black-color;
      color: $white-color;
      font-family: $font-bai;
      font-size: 2.5rem;

      &__logo {
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-weight: 600;
        font-size: 3rem;
      }

      &__content {
        display: flex;
        align-items: center;
        gap: 3rem;
        @media screen and (max-width: 960px) {
          display: none;
        }
      }

      &__btn {
        background-color: $white-color;
        color: $black-color;
        border: none;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
      }

      &__link {
        padding: 1.8rem 0.5rem;
        &:hover {
          color: $black-color;
          background-color: $white-color;
        }
      }
    }

    .jumbotron {
      background-image: url("./assets/jumbotron.jpeg");
      height: 85vh;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 2;
      }

      &__content {
        position: absolute;
        z-index: 4;
        height: 100%;
        margin: auto 0 auto 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;

        h1 {
          font-size: 3.5rem;
          padding: 1rem 3rem 1rem 1rem;
          line-height: 1.5;
          margin: 0;
          background-color: $white-color;
          border-radius: 10px;
          color: $black-color;
          box-shadow: 0 1rem 0 $black-color;

          span {
            display: inline-block;
            padding: 0.5rem 1rem;
            background-color: $black-color;
            border-radius: 10px;
            font-weight: 600;
          }
        }

        p {
          font-size: 1.8rem;
          line-height: 1.5;
          font-family: $font-bai;
          font-weight: 500;

          span {
            font-weight: 600;
          }
        }

        button {
          background-color: $black-color;
          color: $white-color;
          border: none;
          padding: 2rem 1.5rem;
          border-radius: 0.5rem;
          font-size: 1.8rem;
          font-weight: 600;
          margin-top: 2rem;
          cursor: pointer;
          max-width: 40%;
          font-family: $font-bai;
        }
      }
    }

    .benefit {
      background-color: $white-color;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 5rem 5%;
      column-gap: 1rem;
      row-gap: 5rem;
      color: $black-color;
      &__title {
        margin: 5rem 0 0rem 5%;
        padding: 0.5rem 3rem 0.5rem 3rem;
        font-size: 3rem;
        max-width: 50%;
        border-radius: 10px;
        color: $black-color;
      }

      &__element {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color: $black-color;
        max-width: 80%;
        padding: 1.5rem 2rem;
        margin: 0 auto;
        border-radius: 50px;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
      }

      &__img {
        max-width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
      }

      &__description {
        font-size: 2.5rem;
        max-width: 80%;
        text-align: center;
        font-weight: 500;
        font-family: $font-bai;
        line-height: 1.8;
        font-weight: 700;
      }
    }

    .price {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1rem;
      padding-right: 1rem;

      &__title {
        color: $black-color;
        margin: 5rem 0 0rem 0;
        padding: 0.5rem 3rem 0.5rem 3rem;
        font-size: 3rem;
        max-width: 30%;
        border-radius: 10px;
      }

      &__table {
        margin: 3rem 0 0 0;
        padding: 0 1rem;
        font-family: $font-bai;
        text-align: center;
        li {
          border-radius: 3px;
          padding: 2.5rem 3rem;
          display: flex;
          justify-content: space-between;
          margin-bottom: 2.5rem;
        }
        &-header {
          background-color: $black-color;
          color: $white-color;
          font-size: 1.6rem;
          text-transform: uppercase;
          letter-spacing: 0.03em;
          font-weight: 600;
        }
        &-row {
          background-color: #ffffff;
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
          color: $black-color;
        }

        .col {
          font-size: 1.6rem;
        }

        .col-1 {
          flex-basis: 16%;
        }
        .col-2 {
          flex-basis: 18%;
        }
        .col-3 {
          flex-basis: 25%;
        }
        .col-4 {
          flex-basis: 25%;
        }

        .col-5 {
          flex-basis: 16%;
        }

        @media all and (max-width: 767px) {
          .price__table-header {
            display: none;
          }
          li {
            display: block;
          }
          .col {
            flex-basis: 100%;
          }
          .col {
            display: flex;
            padding: 10px 0;
            &:before {
              color: #6c7a89;
              padding-right: 10px;
              content: attr(data-label);
              flex-basis: 50%;
              text-align: right;
            }
          }
        }
      }
    }

    .connect {
      display: block;
      width: 100%;
      margin: 5rem auto 0;
      height: 50vh;
      position: relative;

      &__video {
        width: 100%;
        max-height: 100%;
        height: 50vh;
        object-fit: cover;
      }

      &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50vh;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
      }

      &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 3;
        line-height: 1.5;

        &-title {
          font-size: 3.5rem;
          color: $white-color;
          text-align: center;
          font-family: $font-bai;
          font-weight: 700;
        }

        &-btn {
          padding: 2rem 2.5rem;
          font-size: 1.6rem;
          font-weight: 600;
          border-radius: 1rem;
          border: none;
          text-transform: uppercase;
        }
      }
    }

    .process {
      &__title {
        color: $black-color;
        margin: 5rem 0 0 0;
        padding: 0.5rem 3rem 0.5rem 5%;
        font-size: 3rem;
        border-radius: 10px;
        font-family: $font-open !important;
        font-weight: 700 !important;
      }
      &__wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
      }

      &__container {
        float: left;
        padding: 1rem;
        width: 100%;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: $font-open;
        font-weight: 700;
      }

      h2 {
        font-size: 2rem;
      }

      ul,
      ol {
        margin: 1rem 0;
        height: 30rem;
      }

      &__chart {
        color: #000;
        counter-reset: item;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 0 0 1rem;
        padding: 0;
        > li,
        > li > div {
          position: relative;

          &:before {
            color: rgba(0, 0, 0, 0.75);
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
          }
        }

        > li {
          background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.25) 0%,
            transparent 25%
          );
          background-color: #fff;
          counter-increment: item;
          flex-basis: 0;
          flex-grow: 1;
          margin: 1rem 1rem 1rem -1rem;
          min-width: 11.25rem;
          padding: 1rem 1rem 1rem 2rem;

          &:before {
            content: "Bước";
            display: inline-block;
            font-weight: 300;
            left: 1rem;
            letter-spacing: 0.1rem;
            position: absolute;
            top: 1rem;
            transform: rotate(90deg);
            transform-origin: 25% 50%;
            padding-left: 0.5rem;
            color: $white-color;
          }

          &:after {
            border-bottom: 1rem solid transparent;
            border-left: 1rem solid #fff;
            border-right: 0 solid transparent;
            border-top: 1rem solid transparent;
            content: "";
            height: 100%;
            position: absolute;
            right: -1rem;
            top: 0;
            width: 0;
            z-index: 1;
          }

          & > div {
            padding: 0 0 0 1rem;

            p {
              font-size: 1.4rem;
              font-family: $font-bai;
              line-height: 1.5;
            }
          }

          & > div:before {
            content: counter(item, decimal-leading-zero);
            font-size: 3rem;
            font-weight: 500;
            line-height: 1;
            color: $white-color;
          }

          // nth-type color theming
          &.primary {
            /* nth-of-type(6n+1) */
            background-color: $tan-color;
            color: $white-color;

            &:after {
              border-left-color: $tan-color;
            }
          }

          &.secondary {
            /* nth-of-type(6n+2) */
            background-color: #153448;
            color: $white-color;

            &:after {
              border-left-color: #153448;
            }
          }

          &.tertiary {
            /* nth-of-type(6n+3) */
            background-color: #3c6b6f;
            color: $white-color;

            &:after {
              border-left-color: #3c6b6f;
            }
          }

          &.quaternary {
            /* nth-of-type(6n+4) */
            background-color: #747254;
            color: $white-color;

            &:after {
              border-left-color: #747254;
            }
          }

          &.quinary {
            /* nth-of-type(6n+5) */
            background-color: #948979;
            color: $white-color;

            &:after {
              border-left-color: #948974;
            }
          }

          &.senary {
            /* nth-of-type(6n+5) */
            background-color: $green-color;
            color: $white-color;

            &:after {
              border-left-color: $green-color;
            }
          }
        }

        @media only screen and (max-width: 960px) {
          margin: 1rem 0 10rem 0;
          padding: 1rem 0 0 0;

          > li {
            background: linear-gradient(
              rgba(0, 0, 0, 0.25) 0%,
              transparent 25%
            );
            flex-basis: inherit;
            margin: -1rem 0 1rem 0;
            min-width: inherit;
            padding: 1.5rem 1rem 0 3rem;

            &:before {
              left: 1rem;
              top: 2rem;
            }

            &:after {
              border-bottom: 0 solid transparent;
              border-left: 1rem solid transparent !important;
              border-right: 1rem solid transparent;
              border-top: 1rem solid #fff;
              bottom: -1rem;
              height: 0;
              left: 0;
              right: inherit;
              top: inherit;
              width: 100%;
            }
          }
        }
      }
    }

    .feedback {
      display: flex;
      width: 100%;
      background-color: $white-color;
      align-items: center;
      padding: 3rem 0;
      justify-content: center;

      &__title {
        margin: 0rem 0 0rem 0;
        padding: 2rem 3rem 0.5rem 3rem;
        font-size: 3rem;
        max-width: 100%;
        color: $black-color;
        background-color: $white-color;
      }

      .snip1336 {
        font-family: "Roboto", Arial, sans-serif;
        position: relative;
        overflow: hidden;
        margin: 10px;
        min-width: 230px;
        max-width: 315px;
        height: 50rem;
        width: 100%;
        color: #ffffff;
        text-align: left;
        line-height: 1.4em;
        background-color: white;
        border-radius: 10px;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
      }
      .snip1336 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
      }
      .snip1336 img {
        max-width: 100%;
        vertical-align: top;
        opacity: 0.85;
      }
      .snip1336 figcaption {
        width: 100%;
        background-color: white;
        padding: 25px;
        position: relative;
        color: black;
      }
      .snip1336 figcaption:before {
        position: absolute;
        content: "";
        bottom: 100%;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 55px 0 0 400px;
        border-color: transparent transparent transparent white;
      }
      .snip1336 figcaption a {
        padding: 5px;
        border: 1px solid #ffffff;
        color: #ffffff;
        font-size: 0.7em;
        text-transform: uppercase;
        margin: 10px 0;
        display: inline-block;
        opacity: 0.65;
        width: 47%;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
      }
      .snip1336 figcaption a:hover {
        opacity: 1;
      }
      .snip1336 .profile {
        border-radius: 50%;
        position: absolute;
        bottom: 100%;
        left: 15px;
        z-index: 1;
        max-width: 150px;
        opacity: 1;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        object-fit: cover;
      }
      .snip1336 .follow {
        margin-right: 4%;
        border-color: #2980b9;
        color: #2980b9;
      }
      .snip1336 h2 {
        font-family: $font-play;
        margin: 0 0 5px;
        font-weight: 300;
        font-size: 2.5rem;
        line-height: 1.2;
      }
      .snip1336 h2 span {
        display: block;
        font-size: 1.5rem;
        color: #2980b9;
        margin: 1.5rem 0;
      }
      .snip1336 p {
        margin: 0 0 10px;
        font-size: 1.5rem;
        line-height: 1.5;
        opacity: 0.8;
      }
    }

    .footer {
      padding: 3rem 2.5%;
      background-color: $green-color;
      color: $white-color;

      &__wrap {
        padding: 5rem 2.5% 2rem;
        display: grid;
        grid-template-columns: 3fr 2fr 5fr;
        .part2 {
          padding: 0 0 0 5rem;
          align-items: start;
          a {
            margin: 0 0rem 1rem 0;
            text-decoration: none;
            color: $white-color;
            font-size: 1.8rem;
          }
        }
      }

      &__title {
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        color: $white-color;
        font-family: $font-bai;
        margin: 0 2rem;
      }

      &__part {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.5rem;
        font-family: $font-bai;
        padding: 0 1rem 0 0;
      }

      &__element {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 1rem 0;
        line-height: 1.2;
        i {
          margin-right: 1rem;
        }
      }

      a:hover {
        text-decoration: underline;
        cursor: pointer;
        transition: 0.5 ease;
      }

      &__form {
        padding: 1rem 1rem 0 0;
        display: flex;
        flex-direction: column;

        &-title {
          font-size: 1.5rem;
          font-weight: 400;
          font-family: $font-bai;
          margin: 0 0 1.4rem 0;
          letter-spacing: 1px;
        }
        form {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          font-size: 1.5rem;
          font-family: $font-bai;
          input {
            margin: 0 0 1rem 0;
            border-radius: 5px;
            border: none;
            padding: 1rem 0 1rem 1rem;
          }
          textarea {
            margin: 0 0 1rem 0;
            border-radius: 5px;
            border: none;
            padding: 1rem 0 1rem 1rem;
            height: 5rem;
          }
          button {
            width: 30%;
            padding: 1rem 0.5rem;
            border-radius: 5px;
            border: none;
            font-size: 1.5rem;
            font-family: $font-bai;
          }
        }
      }
    }
  }
}
